<h2>User info</h2>
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
<% end %>

<%= form_with model:@user, local:true do |f| %>
  <div class="user-name">Name</div>
    <%= f.text_field :name %>
    
  <div class="user-edit-image">Image</div>
    <%= f.attachment_field :profile_image %>
    
  <div class="form-body">Introduction</div>
    <%= f.text_area :introduction %><br>
    
  <div class="upload">
    <%= f.submit " Update User" %>
  </div>
<% end %>