<% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>

<h2>New Book</h2>
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <div class="create_action"><%= f.text_field :title %></div>
  <h4>Body</h4>
  <div class="create_action"><%= f.text_area :body %></div>

  <div class="create_action"><%= f.submit 'Create Book' %></div>

<% end %>